body {
  background-image: url(grafiki/wooden-wall4.jpg);
  background-repeat: repeat;
  background-position: top left;
  font-family: 'Playfair Display', serif;
  color: #3e2b1c;
  margin: 0;
  padding: 2rem;
  filter: brightness(0.98) contrast(1.15);
}

.menuContainer {
  position: relative;
  background: #f1e7d0;
  max-width: 70%;
  margin: auto;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  border: 1px solid #d6c1a7;
}

h1 {
  font-size: 2rem;
  border-bottom: 2px solid #c9b28f;
  padding-bottom: 0.5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 1.5rem;
}

ul {
  list-style: none;
  padding: 0;
}

section li {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  padding: 1.5rem 0;
  border-bottom: 1px solid #c5b291;
  border-radius: 6px;
  transition: background-color 0.2s ease-in-out;
}

section li:hover {
  background-color: #ece1c9;
}

.itemTitle {
  font-weight: bold;
  font-size: 1.5rem;
  margin-left: 1.8rem;
}

.itemPrice {
  font-size: 1.5rem;
  white-space: nowrap;
}

.itemInfo {
  flex-grow: 1;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.itemHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.itemDescription {
  font-style: italic;
  font-size: 1.3rem;
  color: #5a4433;
  margin-left: 1.8rem;
}

.itemImage {
  width: 150px;
  height: auto;
  border-radius: 0.5rem;
  margin-left: 2rem;
  margin-right: 1rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  flex-shrink: 0;
  transition: 0.3s;
}

.itemImage:hover{
  transform: scale(150%);
  transition-duration: 0.5s;
}

#search{
  margin:auto;
  border-radius: 0.1rem;
  border-color:crimson;
  transition-duration: 0.5s;
  position:absolute;
  margin-bottom: 1rem;
  left:47.5%;
}

#search:focus{
  outline:none !important;
  margin:auto;
  border-width: 0.4rem;
  border-radius: 0.3rem;
  border-color:crimson;
  transform: scale(110%);
  transition-duration: 1s;
}

.doKoszyka {
  background-color: #d4a373;
  color: white;
  border: none;
  padding: 0.4rem 0.8rem;
  cursor: pointer;
  border-radius: 0.3rem;
  font-size: 0.9rem;
}

.koszykContainer{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap:0.2rem;
  margin-top: 0.5rem;
  margin-right: 1rem;
}

.addedMsg {
  font-size: 0.85rem;
  color: green;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

.addedMsg.show {
  opacity: 1;
  visibility: visible;
}

