
    .open-button {
        background-color: slategrey;
        color: white;
        padding: 16px 20px;
        border: none;
        cursor: pointer;
        opacity: 0.8;
        position: fixed;
        bottom: 23px;
        right: 28px;
        width: 280px;
        z-index: 1000;
    }
.close-button {
    background-color: indianred;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}
.form-popup {
    display: none;
    position: center;
    border: 3px solid #f1f1f1;
    z-index: 9;
    background-color: beige;
}
   

input[type=text], input[type=email], select, textarea {
    width: 50%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: green;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

    input[type=submit]:hover {
        background-color: forestgreen;
    }

.container {
    border-radius: 5px;
    background-color: beige;
    padding: 20px;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}

body.dark .form-popup{
    background-color: rgb(76, 76, 68);
    border: 3px solid rgb(104, 104, 104);
}